<!-- <table mat-table [dataSource]="data" class="mat-elevation-z8">

    <ng-container  matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.gameId}} </td>
      </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    

</table> -->



<div class="card">
    <div class="class-header">
        
    </div>
    <div class="card-body">

        <h1> Game manager </h1>

        <button class="btn btn-primary add" data-bs-toggle="modal" data-bs-target="#addGameModal"> Add another game </button>   
            <div class="row">
                
                <div class="col-sm-6">
            </div>
            </div>
            <div class="table-responsive">
                <table class="table"> 
                    <thead>
                        <tr>
                            <th>GameId</th>
                            <th>Name</th>
                            <th>Genre</th>
                            <th>Action</th> 
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let game of games">
                            <td>{{game.gameId}}</td>
                            <td>{{game.name}}</td>
                            <td>{{game.genreName}}</td>
                        
                            <td><button class="btn btn-primary delete" (click)="deleteGame(game.gameId)">Delete</button></td>
                    </tbody>
                </table>
            </div>
        </div>
</div>


<div class="modal fade" id="addGameModal" tabindex="-1" aria-labelledby="addgame" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add the game</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup] = "formValue">

                    <div class="mb-3">
                        <label for="GameName" class="form-label">Game Name</label>
                        <input type="text" formControlName="gameName" placeholder="Enter the game name" class="form-control" id="InputGame">
                    </div>

                    <div class="mb-3">
                        <label for="Genre" class="form-label">Genre</label>
                            <select formControlName="genreId" class="form-control" name="genre" id="genre">
                                <option type="text" value="" disabled selected>Select the genre</option>
                                <option type="text" *ngFor="let genre of genres" value="{{genre.genreId}}">{{genre.name}}</option>
                           </select>
                           </div>
                        </form>

                <div class="modal-footer">
                    <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" (click)="addGame()" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
                