<h1>My transactions</h1>




<div class="table-responsive">
    <table class="table"
            *ngIf="transactions.length">
        <thead>
            <tr>
                <th>GameName</th>
                <th>PlatformName</th>
                <th>OfferType</th>
                <th>Buyer Username</th>
                <th>CreatedOn</th>
                <th>EndedOn</th>
                <th>Action</th>
            </tr>
            
        </thead>
        <tbody>
            
            <tr *ngFor="let transaction of transactions">
                <td>{{transaction.gameName}}</td>
                <td>{{transaction.platformName}}</td>
                <td>{{transaction.offerTypeName}}</td>
                <td>{{transaction.buyerUsername}}</td>
                <td>{{transaction.createdOn | date: "dd-MM-yyyy"}}, {{transaction.createdOn | date: "HH:mm"}}</td>
                <td>{{transaction.endedOn | date: "dd-MM-yyyy"}}, {{transaction.endedOn | date: "HH:mm"}}</td>
                <td><button (click)="viewDetails(transaction.offerId)" class="btn btn-primary details"> Details </button> </td>

            </tr>
            </tbody>
            </table>
    </div>