<div class="outer">
  <div class="container">
      <div class="row">
              <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                  <div class="panel border bg-white">
                      <div class="panel-heading" >
                          <h3 class="text-center pt-3 font-weight-bold" >Dashboard</h3> 
                          <div class="panel-body p-3">
                              <div class="btn btn-primary"> My profile</div>
                              <div class="btn btn-primary"> Change password </div>
                              <div class="btn btn-primary"> Add suggestions </div>
                              <button (click)="deleteUser(userid)" class="btn btn-primary"> Remove my account </button>
                                <div></div>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

<h4>Users</h4>
<ul *ngFor="let user of users"> 
    <li>{{user.username}}</li>
    </ul>

