<p>my-offers works!</p>



<div class="table-responsive"> <h4 *ngIf="endedOffers.length">Ended Offers</h4>
    <table class="table"
            *ngIf="endedOffers.length">
        <thead>
            <tr>
                <th>
                </th>
                <th>OfferId</th>
                <th>GameName</th>
                <th>PlatformName</th>
                <th>OfferType</th>
                <th>Buyer Username</th>
                <th>Status</th>
                <th>CreatedOn</th>
                <th>EndedOn</th>
                <th>Action</th>
            </tr>
            
        </thead>
        <tbody>
            
            <tr *ngFor="let offer of endedOffers">
                <td>
                </td>
                <td>{{offer.offerId}}</td>
                <td>{{offer.gameName}}</td>
                <td>{{offer.platformName}}</td>
                <td>{{offer.offerTypeName}}</td>
                <td>{{offer.buyerUsername}}</td>
                <td>{{offer.status}}</td>
                <td>{{offer.createdOn | date: "dd-MM-yyyy"}}, {{offer.createdOn | date: "HH:mm"}}</td>
                <td>{{offer.endedOn | date: "dd-MM-yyyy"}}, {{offer.endedOn | date: "HH:mm"}}</td>
                <td><button class="btn btn-primary details"> Details </button> </td>
            </tr>
            </tbody>
            </table>
    </div>



    <div class="table-responsive"> <h4>Active Offers</h4>
        <table class="table"
                *ngIf="activeOffers.length">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>OfferId</th>
                    <th>GameName</th>
                    <th>PlatformName</th>
                    <th>OfferType</th>
                    <th>Status</th>
                    <th>CreatedOn</th>
                    <th>Action</th>
                </tr>
                
            </thead>
            <tbody>
                
                <tr *ngFor="let offer of activeOffers">
                    <td>
                    </td>
                    <td>{{offer.offerId}}</td>
                    <td>{{offer.gameName}}</td>
                    <td>{{offer.platformName}}</td>
                    <td>{{offer.offerTypeName}}</td>
                    <td>{{offer.status}}</td>
                    <td>{{offer.createdOn | date: "dd-MM-yyyy"}}, {{offer.createdOn | date: "HH:mm"}}</td>
                    <td><button class="btn btn-primary details"> Details </button> </td>
                </tr>
                </tbody>
                </table>
        </div>