
 h1{
    padding:20px;
 }
 
 .left,.right {
    padding-top: 20px;
 }
 .left {
    margin-left: 0px;
 }
 .right {
    margin-left: 500px;
    
 }
 .centered {
    display:flex;
    text-align: center;
    justify-content: center;
 }

th {
   text-align: center;;
}
td {
   text-align: center;
   vertical-align: middle;
}