<div class="card" *ngFor="let prop of offer"> 
    
    <div class="centered">
        <div class="left">
        <div>
          <h2>Seller</h2>
            <h4>{{prop.sellerUsername}}</h4>
            {{prop.sellerFirstName}} 
            {{prop.sellerLastName}} <br>
            {{prop.sellerCity}},
            {{prop.sellerState}} <br>
            {{prop.sellerEmail}} <br>
            {{prop.sellerPhoneNumber}}
          </div>
      </div>
      
      <div class="right">
        <div>
          <h2>Buyer</h2>
          <h4>{{prop.buyerUsername}}</h4>
          {{prop.buyerFirstName}} 
          {{prop.buyerLastName}} <br>
          {{prop.buyerCity}},
          {{prop.buyerState}} <br>
          {{prop.buyerEmail}} <br>
          {{prop.buyerPhoneNumber}}
        </div>
      </div>
    </div>

    <div class="table-responsive">
        <table class="table"
                *ngFor="let prop of offer">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Platform</th>
                    <th>Offer type</th>
                    <th>Distribution</th>
                    <th *ngIf="prop.price != 0">Price</th>
                    <th>Ended on</th>
                </tr>
                
            </thead> 
             <tbody *ngFor="let prop of offer">
                
                <tr>
                    <td>{{prop.gameName}} </td>
                    <td>{{prop.platformName}}</td>
                    <td>{{prop.offerTypeName}}</td>
                    <td *ngIf="prop.isPhysical">Box</td>
                    <td *ngIf="!prop.isPhysical">Digital</td>
                    <td *ngIf="prop.price != 0">{{prop.price}} PLN</td>
                    <td>{{prop.endedOn | date: "dd-MM-yyyy"}}, {{prop.endedOn | date: "HH:mm"}}</td>
                </tr> 

                <div class="card-body"> 
                     Description from<b>{{prop.sellerUsername}}:</b><br> {{prop.offerDescription}}
                </div>
                
            </tbody>
            
        </table>

        <!-- [{"offerId":16,"isPhysical":true,"createdOn":"2023-03-15T21:59:05.785",
            "price":0,"status":"Active","gameId":7,"sellerId":1,
            "description":"Willing to swap for Team Fortress 2",
            "gameName":"Half Life 2","genreName":"FPS","platformName":"PC","sellerName"
            :"mkln","offerTypeName":"Exchange","sellerCity":"Kroczyce","sellerState"
            :"Śląskie"},{"offerId":17,"isPhysical":true,"createdOn":"2023-03-19T20:36:49.705"
            ,"price":0,"status":"Active","gameId":6,"sellerId":1,"description":"Pickup at Katowice, willing to exchange for Hogwart's Legacy","gameName":"FIFA 23","genreName":"Sports","platformName":"PS5","sellerName":"mkln","offerTypeName":"Exchange","sellerCity":"Kroczyce","sellerState":"Śląskie"},{"offerId":18,"isPhysical":false,"createdOn":"2023-03-19T20:42:30.192","price":90,"status":"Active","gameId":5,"sellerId":1,"description":"Steam key, payment by paypal or bank transfer","gameName":"Grand Theft Auto V","genreName":"Action","platformName":"PC","sellerName":"mkln","offerTypeName":"Sell","sellerCity":"Kroczyce","sellerState":"Śląskie"},{"offerId":22,"isPhysical":true,"createdOn":"2023-04-04T20:51:56.138","price":30,"status":"Active","gameId":17,"sellerId":1,"description":"Email me","gameName":"Gothic II","genreName":"RPG","platformName":"PC","sellerName":"mkln","offerTypeName":"Sell or exchange","sellerCity":"Kroczyce","sellerState":"Śląskie"}] -->
    
    <div class="card-footer">
    <button class="btn btn-outline-secondary"
         style="width:80px"
         (click) = "onBack()">
        <i class="fa fa-chevron-left"></i> Back
        </button>
    </div>
</div>
