<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading" >
                        <h3 class="text-center pt-3 font-weight-bold" >Edit profile</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="formValue">

                            <div class="form-group pt-3">First name
                                <label for="FirstName" class="input-field">
                                    <input formControlName="firstName" class="form-control" type="text">
                                </label>
                            </div>

                            <div class="form-group pt-3">Last name
                                <label for="LastName" class="input-field">
                                    <input formControlName="lastName" class="form-control" type="text">
                                </label>
                            </div>

                            <div class="form-group pt-3">Email address
                                <div class="input-field">
                                    <input formControlName="email" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="form-group pt-3">Phone number
                                <div class="input-field">
                                    <input formControlName="phoneNumber" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="form-group pt-3">City
                                <div class="input-field">
                                    <input formControlName="city" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="form-group pt-3">State
                                <div class="input-field">
                                    <input formControlName="state" class="form-control" type="text">
                                </div>
                            </div>

                    
                            <!-- <button (click)="onLogin()" type="login" class="btn btn-primary btn-block mt-4 w-100">Login</button> -->
                            <div class="btn-center">

                                <div>
                                <button class="btn btn-primary back" style="width: 80px"
                                     (click) = "onBack()">
                                     Back
                                    </button>
                                </div>
                                <div>
                                <button class="btn btn-primary update" style="width: 80px"
                                        (click) = "updateUser(userId)">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="mx-3 my-2 py-2 bordert">
                        <div class="text-center py-3"></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>