<style>
  .welcomeText {
    font-family: "Be Vietnam Pro Light";
    font-style: italic;
    color: #656565;
  }

  .iBox {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  }

  .iPage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
  }
    

  


</style>


<div class="iPage">
<div class="iBox">
  <div>
    <img portalOra src="./assets/welcome/portalora.svg"/>
  </div>
  <div>
    <h2
        class="welcomeText"
        >Hey there, check out the <b><a class="welcomeText"
           href="/games">Games</a></b>
             </h2>
    </div>
  <div>
  <img portalBlu src="./assets/welcome/portalblu.svg"/>
    </div>
  </div>
</div>



<!-- 
  <div class="card-body">
    <div class="container-fluid">
      <img portalOra src="./assets/welcome/portalora.svg"/>
      <img portalBlu src="./assets/welcome/portalblu.svg"/>
      <div class="text-center">
        <h2
        class="welcomeText"
        style="max-height:300px;padding-bottom:50px" 
        >Hey there, check out the <b><a class="welcomeText"
           href="/games">Games</a></b>
             </h2>
      </div>

      <div class="text-center"></div>
      <div class="text-center">
      </div>

    </div> -->